/* Темы */
body.retro-theme {
    background-color: #121212;
    color: #FFFFFF;
}

body.retro-theme .vintage-overlay {
    display: block;
}

body.cyber-theme {
    background-color: #0a0a1a;
    color: #00ffff;
}

body.cyber-theme .vintage-overlay {
    display: none;
}

body.matrix-theme {
    background-color: #000000;
    color: #00ff00;
}

body.matrix-theme .vintage-overlay {
    display: none;
}
